* {
	--nav-bg-color: #101632;
	--nav-font-color: #97aafd;
	--nav-hover-bg-color: #10163298;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

div,
ul,
nav,
header,
footer,
a,
li,
label,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--nav-bg-color);
	font-family: sans-serif;
	color: var(--nav-font-color);
}

/*------ HEADER SECTION ------*/
.header {
	background-color: var(--nav-font-color);
	color: var(--nav-font-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 10;
	font-size: 1.25rem;
	border: 2px solid var(--nav-bg-color);
}

.header__open-nav-button {
	font-size: 1.25rem;
	position: absolute;
	right: 10px;
}

.header__checkbox {
	display: none;
}

.header__nav {
	display: none;
	background-color: var(--nav-font-color);
	position: absolute;
	height: 30vh;
	width: 100%;
	top: 50px;
	z-index: -1;
}

.header__nav-list {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0;
}

.header__checkbox:checked ~ .header__nav {
	display: flex;
}

.header__logo-container {
	display: flex;
	align-items: center;
	background-color: var(--nav-bg-color);
	padding-right: 15px;
	border: 2px solid var(--nav-font-color);
}

.header__logo {
	width: 4rem;
	border-radius: 15px;
	margin: 10px;
}

.header__empresa {
	font-family: "Audiowide", sans-serif;
	font: 400;
	font-style: normal;
	font-size: 1.1rem;
}

.header__nav-item {
	list-style: none;
	border-radius: 15px;
	padding: 15px 30px;
	justify-content: space-evenly;
}

.header__nav-item a {
	color: var(--nav-bg-color);
	text-decoration: none;
	font: 1rem;
	font-weight: 600;
}

.header__nav-item:hover {
	background-color: var(--nav-hover-bg-color);
}

.header__nav-item a:hover {
	color: var(--nav-font-color);
}

/*------ HEADER QUERIES ------*/
@media screen and (min-width: 600px) {
	.header__nav {
		display: block;
		position: static;
		height: auto;
		width: auto;
		justify-content: space-between;
	}

	.header__nav-list {
		display: flex;
		flex-direction: row;
		height: auto;
		width: auto;
		gap: 20px;
		text-align: center;
		align-items: center;
	}

	.header__open-nav-button {
		display: none;
	}
}
